<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.title %}
    <title>{{ site.title}} : {{ page.title }}</title>
{% else %}
    <title>{{ site.title }}</title>
{% endif %}
<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{{ site.description }}" />

<link rel="shortcut icon" href="/assets/img/favicon.ico" />

<link rel="stylesheet" type="text/css" href="/assets/css/destyle.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/github-markdown.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

<!-- Additional content included, if the page should show a unity WebGl build. -->
{% if page.unity_dir %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/TemplateData/style.css">
    <script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/TemplateData/UnityProgress.js"></script>
    <script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/Build/UnityLoader.js"></script>
{% endif %}
