<footer id="page-footer">
    <div class="regions-2-only">
        <div class="region-container">
            <div class="region-1 ">
                <div class="panel-pane pane-cla-glue-unit-social-pane">

                    <h1 class="pane-title">Connect</h1>


                    <div class="connect-info">
                        <span><i class="fa fa-envelope"></i>
                            <div class="field-email">
                                <a href="mailto:cla@umn.edu">cla@umn.edu</a> </div>
                        </span>
                        <span><i class="fa fa-phone"></i><a href="tel:6126252020">612-625-2020</a></span>
                    </div>
                    <p class="social">
                        <a href="http://facebook.com/umncla"><i class="fab fa-facebook-square fa-lg"><span>Visit College
                                    of Liberal Arts on Facebook</span></i></a>
                        <a href="http://twitter.com/umncla"><i class="fab fa-twitter fa-lg"><span>Visit College of
                                    Liberal Arts on Twitter</span></i></a>
                        <a href="https://www.linkedin.com/groups?gid=2997319&amp;trk=anet_ug_hm&amp;home="><i
                                class="fab fa-linkedin fa-lg"><span>Visit College of Liberal Arts on
                                    LinkedIn</span></i></a>
                        <a href="http://youtube.com/umncla"><i class="fab fa-youtube fa-lg"><span>Visit College of
                                    Liberal Arts on YouTube</span></i></a>
                    </p>

                </div>
            </div>
            <div class="region-2 ">
                <div class="panel-pane pane-cla-glue-unit-give-pane">

                    <h1 class="pane-title">Make a Gift</h1>


                    <div>
                        <a href="/give">Find information on ways to give to the College of Liberal Arts</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="region-container">
            <div class="region-3 ">
            </div>
            <div class="region-4 ">
                <div class="panel-pane pane-cla-glue-unit-contact-pane">



                    <img alt="College of Liberal Arts" class="logo"
                        src="/umn/img/cla-wordmark_grey-xdark.svg">

                    <div class="field-campus-address">

                        215

                        <a href="
									https://campusmaps.umn.edu/johnston-hall">Johnston Hall</a>

                        <div class="field-street-address">
                            <div class="street-block">
                                <div class="thoroughfare">101 Pleasant St SE</div>
                            </div>
                            <div class="addressfield-container-inline locality-block country-US"><span
                                    class="locality">Minneapolis</span>, <span class="state">MN</span> <span
                                    class="postal-code">55455</span></div>
                        </div>


                    </div>

                    <div class="field-intranet-link">
                        <a href="https://cla.umn.edu/neighborhood">Intranet</a> </div>


                </div>
            </div>
        </div>
    </div>
</footer>

<!-- BEGIN UofM FOOTER -->
<footer id="umnhf-f" class="umnhf" role="contentinfo">
    <nav id="umnhf-f-myu">
        <h3 class="umnhf-f-title visually-hidden">For Students, Faculty, and Staff</h3>
        <ul>
            <li><a href="http://onestop.umn.edu/">One Stop</a></li>
            <li><a href="https://www.myu.umn.edu/">My U <span></span></a></li>
        </ul>
    </nav>
    <div class="container">
        <small>&copy; <span id="cdate">2015</span> Regents of the University of Minnesota. All rights reserved. The
            University of Minnesota is an equal opportunity educator and employer. <a
                href="http://privacy.umn.edu">Privacy Statement</a></small>
    </div>
    <!-- Optional last updated link-->
</footer>
