/* VARIABLES */
:root
{
    /* SITEWIDE styles */
    --contentWidth: 1000px;
    --articleWidth: 600px;

    --maroon: #7a0019;
    --gold: #ffcc33;

    /* MASONRY variables */
    --gutter: 20px;
    --columns: 3;
    --gridItemWidth: calc((100% - var(--gutter)*(var(--columns) - 1)) / var(--columns));
    --gridItemHeight: calc((var(--contentWidth) - var(--gutter)*(var(--columns) - 1)) / var(--columns));
    --gridItemMaxHeight:  calc((100vw - var(--gutter)*(var(--columns) - 1)) / var(--columns));
}



/* GLOBAL */

img
{
    width: 100%;
}

video
{
    width: 100% !important;
    margin-bottom:1em;
}

iframe
{
    width: 100% !important;
    margin-bottom:1em;
}



/* HEADER */
header
{
    width:100%;
    margin: 0px auto 60px;

    padding: 30px 0px;

    background-color: var(--maroon);
}

#header-container
{
    max-width: calc(100% - 2*var(--gutter));
    width: var(--contentWidth);
    margin:0px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Title */
.site-title h1
{
    border-bottom: 0px;
}

.site-title a
{
    color: var(--gold);
    transition: color 0.2s;
}

.site-title a:hover
{
    transition: color 0.2s;
    text-decoration: none;
}

/* Navigation */
.site-nav
{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom:1em;
}
.site-nav a
{
    margin-right: 15px;
    color: var(--gold);
}
.site-nav a:last-child
{
    margin-right: 0px;
}



/* MAIN */

main
{
    max-width: calc(100% - 2*var(--gutter));
    width: var(--contentWidth);
    margin:0px auto;
}

.button img
{
    width: 140px;
}


/* FOOTER */
footer
{
    max-width: calc(100% - 2*var(--gutter));
    width: var(--contentWidth);
    height:60px;
}



/* ARTICLE COLUMNS */
.single_column
{
    max-width: var(--articleWidth);
    margin: 0px auto;
}



/* MASONRY */
.grid
{
    width: 100%;
}

.grid_label
{
    text-align:center;
    margin-bottom: var(--gutter);
}

.gutter
{
    width: var(--gutter);
}

.grid_item
{
    width: var(--gridItemWidth);
    margin-bottom:var(--gutter);
}

.grid_item img
{
    height: var(--gridItemHeight);
    max-height: var(--gridItemMaxHeight);
    object-fit: cover;
}

.grid_item_label
{
    text-align:center;
}



/* MOBILE */
@media only screen and (max-width: 768px)
{
    #header-container
    {
        display:block;
        text-align:center;
    }

    .site-nav a
    {
        display:block;
        margin-right: 0px;
        margin-bottom:1em;
    }

    .grid_item
    {
        width: 100%;
    }

    .grid_item img
    {
        height: 100%;
        max-height:100%;
    }
}
